<h1 class="mt-4">MyNotes Notepad</h1>

<h2 class="lead mb-3">Welcome <%= name %>!</h2>

<% if(note.length > 0){  %>  
   <p> <%=  %> </p>
<% } else {%>
   <p> no notes for <%= name %> </p>
   <% } %>


<a href="/logout" class="btn btn-secondary">Logout</a>

<script src="js/main.js"></script>
